.aboutctn {
  padding: 2rem;
  width: 70%;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

p {
  line-height: 2rem;
  font-size: 1.2rem;
}

.textContainer {
  padding: 20px; /* Innenabstand für den Text im Kasten */
  left: 0;
  right: 0;
  margin-left: auto; /* Text auf der rechten Seite zentrieren */
  margin-right: auto; /* Text auf der linken Seite zentrieren */
  max-width: 800px; /* Maximale Breite des Kastens */
}

.txtspan {
  color: HSL(114, 96.1%, 59.6%);
}

/* .contactpix {
  background: url(../../assets/images/try.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 180px;
}
 */
