.nav {
  align-items: center;
  position: absolute;
  justify-content: flex-end;
  top: 0;
  display: none;
  width: 100%;
  height: 70px;
  padding: 0 1em;
}

.logo {
  position: absolute;
  background: url(../../assets/images/new-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  width: 150px;
  height: 120px;
  top: 0;
  left: 10px;
}

.nav-links {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  gap: 3em;
  z-index: 1;
  font-family: "Poppins", sans-serif;
  animation: backwards linear infinite;
}

.social-links {
  z-index: 1;
  font-size: 2em;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 1s;
  position: relative;
}

a::after {
  content: "";
  display: block;
  width: 0;
  position: absolute;

  height: 2px;
  background: whitesmoke;
  transition: cubic-bezier(0.77, 0, 0.18, 1) 1s;
}

a:hover::after {
  width: 100%;
}

a {
  transition: cubic-bezier(0.77, 0, 0.18, 1) 1s;
}

a:hover {
  color: HSL(114, 96.1%, 59.6%);
}

@media only screen and (min-width: 1000px) {
  .nav {
    display: flex;
  }
}
